* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}
body {
  background: #f8f9fd;
}
#root::-webkit-scrollbar {
  display: none;
}
.home {
  background: #f8f9fd;
  width: 100vw;
}
.container {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(3, 0, 55, 0.08);
  border-radius: 8px;
  width: 96%;
}
button {
  cursor: pointer;
}
.searchBar {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 24px;
  border-radius: 24px;
  padding: 12px 16px 12px 16px;
}
.searchBar > input {
  height: 20px;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #8e96a0;
}
.searchBar > input:focus {
  outline: none;
}

.login {
  width: 100vw;
  background-color: #ffffff;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.welcome {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.005em;
  color: #030037;
}
.login > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: #686687;
  margin-bottom: 20px;
}
.login > input {
  padding: 12px 16px;
  width: 567px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: 16px;
  color: #939596;
}
.loginButton {
  background-color: #1334b3;
  color: #ffffff;
  padding: 12px 16px;
  width: 567px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.login > span {
  font-weight: 700;
  margin-top: 15px;
  font-size: 14px;
  line-height: 19px;
  color: #686687;
}
.lastpage {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3d58c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.titleBar {
  padding: 0px 20px;
  margin: 10px 0px 20px 0px;
}
.titleBar > h1 {
  font-weight: 800;
  margin-top: 15px;
  font-size: 24px;
  line-height: 120%;
  color: #030037;
}
.clientMaster {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.sideNavContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(3, 0, 55, 0.08);
}
.sideNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
}
.sideNavFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  width: 97%;
}
.sideNavFooter > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sideNavFooter > div > p {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  color: #233244;
}
.sideNavFooter > div > p > span {
  font-weight: 400;
  font-size: 12px;
  color: #233244;
}
.sideNavFooter > div > img {
  width: 30px;
  height: 30px;
  background-color: #93959695;
  border-radius: 50%;
}
.logoutBtn {
  background-color: transparent;
  border: none;
}
.sideNav > h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #233244;
  margin: 15px 0px;
}

.sideNav > p {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  padding: 15px 0px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #b8babc;
}
.sideNav > button {
  padding: 8px 16px;
  width: 100%;
  height: 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin: 10px 0px 0px 0px;
}
.disabledButton {
  color: #686687;
  border: none;
  background-color: transparent;
}

.ableButton {
  background: #153ac7;
  box-shadow: 0px 4px 16px rgba(3, 0, 55, 0.08);
  border-radius: 8px;
  border: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .home {
    display: flex;
  }
  .container {
    margin: 10px;
  }
  .clientMaster {
    width: 73%;
    align-items: flex-start;
  }
  .titleBar {
    margin: 0px;
  }
  .lastpage {
    padding-bottom: 10px;
  }
  .sideNavContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 27%;
    height: 100vh;
  }
  .sideNav > h1 {
    margin: 0px 0px 10px 0px;
  }
  .sideNavFooter {
    width: 92%;
  }
  .sideNav > p {
    padding: 10px 0px;
  }
}
